<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
    .descriptionBox {
    background-color: #ccc;
    }
    .app, .app2 {
    float:left;
    width:50%;
    }
    .toggleView {
    margin-bottom: 20px;
    }
    </style>
    <link rel="stylesheet" href="dist/index.bundle.css">
  </head>
  <body>
    <br>
    <p id="toggleView" class="toggleView">toggle grid/list view</p>
    <p id="filterSpecies">filterSpecies</p>
    <div id="paginator"></div>
    <div id="descriptionBox" class="descriptionBox">
      <li v-for="items in sharedState.filteredId">
        {{ items.id }} <br>
        {{ items.thumb }} <br>
        <img v-bind:src="'img/' + items.id +'.jpg'" v-bind:id="items.id">
      </li>
    </div>
    <div id="app" class="app">
      <ul id="galleryContainer">
        <li v-if="loading" id="loader">loading...</li>
        <li v-else>
          <!-- loading false -->
          <!-- grid view -->
          <div v-if="grid">grid view</div>
          <!-- list view -->
          <div v-else>list view</div>
        </li>
      </li>
    </ul>
  </div>
  <div id="app2" class="app2">
    <ul>
      <li v-for="items in sharedState.message">
        {{ items.species }} <br>
        {{ items.value }}
      </li>
    </ul>
  </div>
  <script src="dist/vendor.bundle.js"></script>
  <script src="dist/index.bundle.js"></script>
</body>
</html>